/* Login.css */

div {
  align-items: center;
  justify-content: center;
 text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  text-align: center;
  background-color: white;
  padding: 69px 39%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input {
text-align: center;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input:focus {
text-align: center;
  border-color: #007bff;
  outline: none;
}

button {
text-align: center;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: rgb(8, 8, 8);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
text-align: center;
  background-color: #0056b3;
}
